

.linkDecoration{
  text-decoration: none;
  color:inherit;  
}

.btnGlobal{
  color: $blanco;
  background-color: $azul;
  padding: .5em 3em;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid $azul;
  box-shadow:0px 0px 5px -2px #000000;
  font-size: 16px;
    &:hover{
    background-color: $azul;
    box-shadow:0px 1px 8px -2px #000000;
    }
}

.mainContainer{
  display: grid;
  grid-template-areas: 
  "header header header"
  "main main main"
  "main main main"
  "footer footer footer";
  grid-template-rows: 224px repeat(2,minmax(50vh,1fr)) 100px; 
}
.headerLayout{
  grid-area: header;
  background-color: $blanco;
}
.mainContent{
  grid-area: main;
  background-color: $blanco;
}

.footerLayout{
  grid-area: footer;
  background-color: $naranja;
}

@media screen and (max-width:1015px) {
  .mainContainer{
    grid-template-rows: 250px repeat(2,minmax(50vh,1fr)) 100px; 

  }
}

@media (max-width: 940px){
  .mainContainer{
    grid-template-rows: 300px repeat(2,minmax(50vh,1fr)) 100px; 

  }
}