.NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
    background-color: $azul;
    color: $blanco;
    box-shadow:0px 2px 4px 3px rgba(0,0,0,0.72);
    margin-bottom: 6px;
    box-sizing: border-box;
    li{list-style: none;
        padding: 0 1em;
        display: flex;
        // position: relative;
        &:hover{
            cursor: pointer;
            color: $naranja;
        }
        span{margin-left: 6px;}
    }
    .NavBar__divLogo{
        max-width: 300px;
    }
    .NavBar__divMenu{
        flex-grow: 2;
        ul{display: flex;
            justify-content: flex-start;
            li{
                position: relative;
            }
            .productos{
                position: relative;
                .listSubCategory{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    width: 90%;
                    top:2rem;
                    z-index: 50;
                    background-color: $azul;
                    opacity: 97%;
                    padding: 10px;
                    border-radius: 3px;
                    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.48);
                
                    .subCategory{
                        display: block;
                        color: $blanco;
                        padding: 6px;
                        border-bottom: 1px solid $naranja;
                        &:hover{
                            background-color: $celeste;
                        }
                
                    }
                }
            }
        }
    }
    .NavBar__divCartLogin{
        flex-grow: .2;
        ul{
           display: flex;
           justify-content: space-around;
            margin-top: 3px;
        }
    }
}

.imgLogo{
    width: 95%;
    height: 80%;
    margin-top: .3em;
    opacity: 50%;
}

@media (max-width: 940px) {
    .NavBar{
        flex-direction: column;
    }
    .divLogo{
        width: 50%
    }
    .divMenu{
        flex-shrink: 3;
    }
}   