*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  user-select: none;
}

@import "partials/vars";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $blanco;
  color:$azul;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@import 'partials/Header.layout';
@import 'partials/App';
@import 'partials/NavBar';
@import 'partials/ItemListContainer';
@import 'partials/ItemList';
@import 'partials/Item';
@import 'partials/Cart';
@import 'partials/CartWidget';
@import 'partials/Modal';
@import 'partials/ItemDetailContainer';
@import 'partials/ItemDetail';
@import 'partials/ItemCount';

